# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE-specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
*.db

# Static files
/staticfiles/
!.gitkeep

# Media files
/media/

# Ignore local settings
local_settings.py

# Ignore secret keys
*.secret
